<nav class="bg-white border-gray-200 border">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
  <a  class="flex items-center space-x-3 rtl:space-x-reverse">
      <!-- <img src="https://logo.com/image-cdn/images/kts928pd/production/0089b7ae1ed394f041c5f7929e111c11e8eafe4d-424x421.png?w=1080&q=72&fm=webp" class="h-8" alt="" /> -->
      <!-- <span class="self-center text-2xl font-semibold whitespace-nowrap">YETON</span> -->
  </a>
  <div class=" flex justify-end ">

    <button type="button" class=" text-sm rounded-full relative " id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom" (click)="viewUserProfile()">
        <span class="sr-only">Open user menu</span>
        <img class="w-[40px] rounded-full" src="{{imageUrl}}" alt="user photo">
      </button>
      <button type="button" class=" text-sm rounded-full md:me-0 mx-4" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"     data-dropdown-placement="bottom">
        <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5.464V3.099m0 2.365a5.338 5.338 0 0 1 5.133 5.368v1.8c0 2.386 1.867 2.982 1.867 4.175C19 17.4 19 18 18.462 18H5.538C5 18 5 17.4 5 16.807c0-1.193 1.867-1.789 1.867-4.175v-1.8A5.338 5.338 0 0 1 12 5.464ZM6 5 5 4M4 9H3m15-4 1-1m1 5h1M8.54 18a3.48 3.48 0 0 0 6.92 0H8.54Z"/>
        </svg>
      </button>

        <span class=" text-green-600 p-1  font-extrabold">2</span>



      <button type="button" class=" text-sm rounded-md md:me-0 mx-4 border border-black p-1.5 hover:bg-[#1f2937] hover:text-white" id="user-menu-button " aria-expanded="false" (click)="logoutUser()"     data-dropdown-placement="bottom">Logout
      </button>

  </div>
  </div>
</nav>


