<div class="sm:ml-64">
  <h1 class="text-xl font-extralight p-6">Hey {{username}}, Welcome to Dashboard</h1>
  <div class="rounded-lg dark:border-gray-700">
    <app-summary></app-summary>
  </div>
</div>

<div class="sm:ml-64">
  <!-- <div class=" rounded-lg dark:border-gray-700"> -->
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-2 bg-[#f7f7f7] p-6 rounded-md">
      <app-donut-pie-chart
        [chartType]="'donut'"
        [seriesData]="[25, 15, 44, 55]"
        [colors]="['#ffc9c9', '#00E396', '#eebefa', '#f59f00']"
      >
      </app-donut-pie-chart>

      <div class="col-span-2">
        <app-monthly-sales-chart></app-monthly-sales-chart>
      </div>


      <div class="col-span-2 card bg-white">
        <app-bar-chart></app-bar-chart>
      </div>

      <app-donut-pie-chart
        [chartType]="'pie'"
        [seriesData]="[30, 20, 25, 10]"
        [colors]="['#ba75f6', '#D4526E', '#13D8AA', '#A5978B']"
      >
      </app-donut-pie-chart>

    </div>
  <!-- </div> -->
</div>
