
<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-2 bg-[#f7f7f7] p-6 rounded-md">

  <div class=" py-4 px-8 card rounded-md bg-white">
    <div class="flex justify-between">
      <p class="pb-5 text-2xl"> Total Cost (GHS) </p>
      <h1 class="text-5xl"><svg class="w-[40px] h-[40px] text-[#6c8fb3]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-width="2.7" d="M8 7V6a1 1 0 0 1 1-1h11a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1M3 18v-7a1 1 0 0 1 1-1h11a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1Zm8-3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z"/>
      </svg>
      </h1>
    </div>
    <h4 class="text-5xl font-extrabold">  {{summaryStatistics.totalRevenue}}</h4>
    <small class="text-muted text-[#818188] float-right">Expected cost after sales </small>
  </div>

  <div class="py-4 px-8 card rounded-md bg-white">
    <div class="flex justify-between">
      <p class="text-2xl pb-5"> Gross Profit (GHS) </p>
      <h1 class="text-5xl">
        <svg class="w-[44px] h-[44px] text-[#846aaf]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path d="M17 20v-5h2v6.988H3V15h1.98v5H17Z"/>
          <path d="m6.84 14.522 8.73 1.825.369-1.755-8.73-1.825-.369 1.755Zm1.155-4.323 8.083 3.764.739-1.617-8.083-3.787-.739 1.64Zm3.372-5.481L10.235 6.08l6.859 5.704 1.132-1.362-6.859-5.704ZM15.57 17H6.655v2h8.915v-2ZM12.861 3.111l6.193 6.415 1.414-1.415-6.43-6.177-1.177 1.177Z"/>
        </svg>

      </h1>
    </div>
    <h4 class="text-5xl font-extrabold">{{summaryStatistics.expectedProfit}}</h4>
    <small class="text-muted text-[#818188] float-right">Expected profit</small>
  </div>

  <div class="p-8 card rounded-md bg-white" href="">
    <div class="flex justify-between">
      <p class="text-2xl pb-5">Total Users</p>
      <h1 class="text-5xl">
        <svg class="w-[44px] h-[44px] text-[#689d6c]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4.5 17H4a1 1 0 0 1-1-1 3 3 0 0 1 3-3h1m0-3.05A2.5 2.5 0 1 1 9 5.5M19.5 17h.5a1 1 0 0 0 1-1 3 3 0 0 0-3-3h-1m0-3.05a2.5 2.5 0 1 0-2-4.45m.5 13.5h-7a1 1 0 0 1-1-1 3 3 0 0 1 3-3h3a3 3 0 0 1 3 3 1 1 0 0 1-1 1Zm-1-9.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"/>
        </svg>
      </h1>
    </div>
    <h4 class="text-5xl font-extrabold">{{summaryStatistics.userStats.totalUsers}}</h4>
    <small class="text-muted text-[#818188] float-right"> Online: {{summaryStatistics.userStats.online}},  Offline: {{summaryStatistics.userStats.offline}}</small>
  </div>

  <!-- <div class="p-8 card rounded-md bg-white" >
    <div class="flex justify-between">
      <p class="text-2xl pb-5">Current Stock</p>
      <h1 class="text-5xl"><svg class="w-[44px] h-[44px] text-[#9f9261]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.005 11.19V12l6.998 4.042L19 12v-.81M5 16.15v.81L11.997 21l6.998-4.042v-.81M12.003 3 5.005 7.042l6.998 4.042L19 7.042 12.003 3Z"/>
      </svg>
      </h1>
    </div>
    <h4 class="text-5xl font-extrabold">{{summaryStatistics.currentStock}}</h4>
    <small class="text-muted text-[#818188] float-right">Current stock </small>
  </div> -->

  <!-- <div class=" bg-white card p-8 rounded-md " >
    <div class="flex justify-between">
      <p class="text-2xl pb-5">Orders</p>
      <h1 class="text-5xl">

        <svg class="w-[44px] h-[44px] text-red-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M14 7h-4v3a1 1 0 0 1-2 0V7H6a1 1 0 0 0-.997.923l-.917 11.924A2 2 0 0 0 6.08 22h11.84a2 2 0 0 0 1.994-2.153l-.917-11.924A1 1 0 0 0 18 7h-2v3a1 1 0 1 1-2 0V7Zm-2-3a2 2 0 0 0-2 2v1H8V6a4 4 0 0 1 8 0v1h-2V6a2 2 0 0 0-2-2Z" clip-rule="evenodd"/>
        </svg>

      </h1>
    </div>
    <h4 class="text-5xl font-extrabold">{{summaryStatistics.orderSummary.pending + summaryStatistics.orderSummary.completedOrders }}</h4>
    <small class="text-muted text-[#818188] float-right">{{summaryStatistics.orderSummary.completedOrders}} out of  {{summaryStatistics.orderSummary.pending + summaryStatistics.orderSummary.completedOrders}} completed</small>
  </div> -->

  <!-- <div class="p-8 card rounded-md bg-white" >
    <div class="flex justify-between">
      <p class="text-2xl pb-5">Categories</p>
      <h1 class="text-5xl">
      <svg class="w-[44px] h-[44px] text-[#f59f00]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.4" d="M9 10V6a3 3 0 0 1 3-3v0a3 3 0 0 1 3 3v4m3-2 .917 11.923A1 1 0 0 1 17.92 21H6.08a1 1 0 0 1-.997-1.077L6 8h12Z"/>
      </svg>

      </h1>
    </div>
    <h4 class="text-5xl font-extrabold">{{summaryStatistics.categories}}</h4>
    <small class="text-muted text-[#818188] float-right">Current number of categories</small>
  </div> -->

</div>





