<app-title title="Customers"></app-title>

<div class="sm:ml-64" >
  <div class="rounded-lg dark:border-gray-700" *ngIf="userSummaries">
      <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-2 bg-[#f7f7f7] p-6 rounded-md">
      <lib-stats title="Total Users" value={{userSummaries.totalUsers}}></lib-stats>
      <lib-stats title="Block Users" value={{userSummaries.blocked}}></lib-stats>
      <lib-stats title="Admin Users" value={{userSummaries.admins}}></lib-stats>
      <lib-stats title="Customers" value={{userSummaries.customers}}></lib-stats>
      </div>
  </div>
</div>

<div class="p-4 sm:ml-64">
  <div class="flex justify-between">
    <form #searchForm="ngForm">
      <input class="font-semibold px-2 py-4  border border-black focus:outline-none focus:ring-1 focus:ring-black focus:border-black ml-4 rounded-md mt-2" placeholder="Search ..." ngModel type="search" name="searchName" #searchInput="ngModel" (ngModelChange)="searchedCustomers(searchForm.value.searchName)"/>
     </form>

    <form></form>
    <button class="bg-[#000000] text-white py-3 px-2 rounded mt-3 text-xl mr-5" (click)="showUserViewModal = !showUserViewModal">Add Admin</button>
  </div>

  <div class="p-4 rounded-lg dark:border-gray-700">
    <div class="relative overflow-x-auto sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right pb-32 bg-white uppercase">
        <thead class="text-xs">
          <tr>
            <th scope="col" class="p-4"> <div class="flex items-center">Image</div> </th>
            <th scope="col" class="px-6 py-3">Preferred Name</th>
            <th scope="col" class="px-6 py-3">Phone</th>
            <th scope="col" class="px-6 py-3">Gender</th>
            <th scope="col" class="px-6 py-3">Admin</th>
            <th scope="col" class="px-6 py-3">Block</th>
            <th scope="col" class="px-6 py-3">Online</th>
            <th scope="col" class="px-6 py-3">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="bg-white border-b hover:bg-gray-50 p-4 uppercase" *ngFor="let customer of customers">
            <td>
            <small class="border rounded-full bg-[#000000] px-5 py-4 font-extrabold text-md text-white">  {{customer.name[0]}}</small>
            </td>
            <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">{{customer.name}}</th>
            <td class="px-6 py-4">{{customer.phone}}</td>
            <td class="px-6 py-4">{{customer.gender}}</td>
            <td class="px-6 py-4">{{customer.isAdmin}}</td>
            <td class="px-6 py-4">{{customer.isBlock}}</td>
            <td class="px-6 py-4">{{customer.isOnline}}</td>
            <td class="px-6 py-4 flex justify-between">
              <div class="inline-flex rounded-md shadow-sm" role="group">
                <button type="button" class="px-2 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-black dark:border-gray-700  dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-black" (click)="getSelectedUser(customer)">
                    <span *ngIf="customer.isBlock">Activate</span>
                    <span *ngIf="!customer.isBlock">Make Inactive</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div id="default-modal" tabindex="-1"  class="  overflow-y-auto overflow-x-hidden fixed inset-0 z-50 flex items-center justify-center bg-[#00000044]"  *ngIf="showUserViewModal">
  <div class="relative p-4 w-full max-w-2xl max-h-full" >
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow card" >
          <!-- Modal header -->
          <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t ">
              <h3 class=" font-semibold text-gray-900 text-2xl">Add Administrator</h3>
              <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal"  (click)="showUserViewModal = !showUserViewModal">
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                  </svg>
                  <span class="sr-only">Close modal</span>
              </button>
          </div>
          <!-- Modal body -->
          <div class="p-4 md:p-5 space-y-4">
            <form class="max-w-xl mx-auto p-6 space-y-6" [formGroup]="addAdminForm" (ngSubmit)="createAdmin()">
              <!-- Text Input -->
              <div class="space-y-2">
                <label class="block text-sm font-medium text-gray-700" >Full Name</label>
                <input type="text" class="w-full px-4 py-4 border border-black rounded-lg focus:outline-none focus:ring-1 focus:ring-black focus:border-black"
                  placeholder="Enter Name" formControlName="name">
              </div>

              <div class="space-y-2">
                <label class="block text-sm font-medium text-gray-700" >Phone Number</label>
                <input type="text" class="w-full px-4 py-4 border border-black rounded-lg focus:outline-none focus:ring-1 focus:ring-black focus:border-black"
                  placeholder="phone number" formControlName="phone">
              </div>

              <div class="space-y-2">
                <label class="block text-sm font-medium text-gray-700" >Image Link </label>
                <input type="text" class="w-full px-4 py-4 border border-black rounded-lg focus:outline-none focus:ring-1 focus:ring-black focus:border-black"
                  placeholder="image link" formControlName="imageUrl">
              </div>

              <div class="space-y-2">
                <label class="block text-sm font-medium text-gray-700" >Gender</label>
                <input type="text" class="w-full px-4 py-4 border border-black rounded-lg focus:outline-none focus:ring-1 focus:ring-black focus:border-black"
                  placeholder="MALE or FEMALE" formControlName="gender">
              </div>

              <div class="space-y-2">
                <label class="block text-sm font-medium text-gray-700" >Pin (4 Numbers)</label>
                <input type="password" class="w-full px-4 py-4 border border-black rounded-lg focus:outline-none focus:ring-1 focus:ring-black focus:border-black" minlength="4" maxlength="4"
                   formControlName="password">
              </div>

               <button
                  type="submit"
                  class=" px-4 py-4 bg-black text-white rounded-lg transition-colors duration-200 text-xl w-full"
                 > Create Admin
                </button>
            </form>

          </div>


      </div>
  </div>
</div>


<!-- DELETE CUSTOMER MODAL   -->
<div id="default-modal" tabindex="-1" aria-hidden="true" class=" overflow-y-auto overflow-x-hidden fixed inset-0 z-50 flex items-center justify-center bg-[#00000044]" *ngIf="deleteSelectedUserModal">
  <div class="relative p-4 w-full max-w-2xl max-h-full" >
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow card">
          <!-- Modal header -->
          <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t ">
              <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal"  (click)="deleteSelectedUserModal = !deleteSelectedUserModal">
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                  </svg>
                  <span class="sr-only">Close modal</span>
              </button>
          </div>
          <h3 class="text-2xl text-center py-4">User Details</h3>
          <div class="p-4 md:p-5 space-y-4 flex">
              <div class="text-base leading-relaxed ">
                <p>Name: {{selectedUser.name}}</p>
                <p>Gender: {{selectedUser.gender}}</p>
                <p>Phone: {{selectedUser.phone}}</p>
                <p>Admin: {{selectedUser.isAdmin}}</p>
                <p>Blocked: {{selectedUser.isBlock}}</p>
              </div>
          </div>
             <div class="px-4">
                <h3>Are you sure you want to <strong class="text-extrabold">
                  <span *ngIf="selectedUser.isBlock" class="text-red-600">Unblock</span>
                  <span *ngIf="!selectedUser.isBlock" class="text-red-600">Block</span>
                </strong> {{selectedUser.name}}</h3>
             </div>
          <div class="flex justify-end items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600 gap-2">
              <button class="bg-[#D8F36F] py-3 px-2 rounded mt-3 text-xl" (click)="deleteSelectedUserModal = !deleteSelectedUserModal">Close</button>
              <button class="bg-[#000000] text-white py-3 px-2 rounded mt-3 text-xl" (click)="blockOrUnblockCustomer()">
                <span *ngIf="selectedUser.isBlock">Unblock</span>
                <span *ngIf="!selectedUser.isBlock">Block</span>
             </button>
          </div>
      </div>
  </div>
</div>
