.item{
  padding: 10px 20px 10px 0;
  color: white;
}


.item:hover{
  color: black;
  background-color: #edefe8;
}
.item.selected {
  background-color: #d8f36f;
  font-weight: bold;
  border-radius: 5px;
  color: black;
}
